h1, h2, h3, h4, p, a {
    margin: 0 auto;
    padding: 0 auto;
    letter-spacing: .3px;
}
h1 {
    font-size: 15px;
    color: #aa0101;
}
h2 {
    font-size: 12px;

}
h2, h3 {
    font-weight: bold;
}
h3 {
    font-style: italic;
    font-size: 10px;
}
h4 {
    color: #b80101;
    padding-left: 15px;
    font-weight: normal;
    line-height: 16px;
    font-size: 11px;
}
p {
    font-size: 11px;
    hyphens: manual;
    text-align: justify;
    text-justify: inter-word;
    letter-spacing: .2px;
}
body {
    background-color: #808080;
}
div.container {
    border: 1px solid black;
    width: 780px;
    min-height: 500px;
    margin: 0 auto;
    font-family: Ariel, Helvetica, sans-serif;
    background-color: #ffffff;
}
.container header > img{
    display: block;
}
.nav {
    text-align: right;
    text-transform: uppercase;
    margin-top: .25rem;
    margin-right:1rem;
    padding-bottom: 10px;
    font-size: 10px;
    letter-spacing: .8px;
}
div.nav a {
    text-decoration: none;
    color: black;
    margin: 1px;
    padding: 2px;
    letter-spacing: .8px;
}
div.nav a span {
    text-decoration: none;
}
.nav span:after {
    content: " |";
}
.nav span:last-of-type:after {
    content: "";
}
.nav a img {
    vertical-align: middle;
}
.nav a:hover {
    text-decoration: underline;
}
.bottom {
    font-size: 9px;
    margin-top: 5rem;
    text-transform: lowercase;
}
.middle {
    display: flex;
    justify-content: space-between;
}
div.box {
    float: left;
    display: flex;
    flex-grow: 1;
    width: 520px;
    margin: 0 auto;
        a {
            color: #aa0101;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
            color: #ff0000;
        }
}
div.box-2 {
    width: 750px;
}
article.main {
    min-height: 575px;
    padding: 1.25rem;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        .faculty {
            line-height: 20px;

        }
        a {
            text-decoration: none;
        }
        .contacts a {
            color: black;
        }
}

section.guts {
    min-height: 500px;
    width: 600px;
    margin: 0 0 1rem 0;
    padding: 1rem 0rem 2rem 1rem;
    border-left: 1px dashed black;
        img {
            border-radius: 1rem;
            width: 175px;
            height: auto;
            float: right;
            padding: 0.5rem 0rem 0.5rem 0.5rem;
        }
        h4 {
            text-align: right;
        }
        span {
            font-size: 15px;
            color: #aa0101;
            font-weight: bold;
        }
}
aside {
    max-width: 225px;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
aside.nav-guts a {
    color: black;
    display:block;
    padding: 10px;
    padding-right: 0;
    margin: 0 20px;
    border-bottom: 1.5px solid #737A3E;
    text-decoration: none;
    font-size: 11px;
}
aside.nav-guts a:hover {
    background-color: darkred;
    color: white;
}

aside.nav-guts img {
    margin-left: 2.25rem;
}

aside div {
    margin-top: 1rem;
    margin-bottom: 3.5rem;
}

footer {
    height: 11px;
    background-color: #737A3E;
    color: white;
    font-size: 9px;
    padding: 6px;
    text-align: center;
}
